apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: patient-service
  namespace: apps-dev
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: patient-service
  minReplicas: 2
  maxReplicas: 6
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 60
