apiVersion: v1
kind: Pod
metadata:
  name: app-with-secrets
spec:
  serviceAccountName: app-sa
  restartPolicy: Never
  containers:
  - name: app
    image: public.ecr.aws/docker/library/alpine:3.20
    command:
      - sh
      - -c
      - |
        apk add --no-cache aws-cli jq

        echo "Fetching secrets from AWS Secrets Manager..."

        SECRET_JSON=\$(aws secretsmanager get-secret-value \
          --secret-id hipaa-devsecops-dev-app \
          --query SecretString \
          --output text)

        export DB_USER=\$(echo \$SECRET_JSON | jq -r .DB_USER)
        export DB_NAME=\$(echo \$SECRET_JSON | jq -r .DB_NAME)

        echo "Environment variables injected:"
        echo "DB_USER=\$DB_USER"
        echo "DB_NAME=\$DB_NAME"

        echo "Application running..."
        sleep 3600