#demo pod that consumes the secret

apiVersion: v1
kind: Pod
metadata:
  name: app-with-k8s-secrets
  namespace: default
spec:
  serviceAccountName: app-sa
  containers:
  - name: app
    image: public.ecr.aws/docker/library/alpine:3.20
    command:
      - sh
      - -c
      - |
        echo "App starting..."
        echo "DB_USER=$DB_USER"
        echo "DB_NAME=$DB_NAME"
        echo "Sleeping..."
        sleep 3600
    env:
    - name: DB_USER
      valueFrom:
        secretKeyRef:
          name: app-secrets
          key: DB_USER
    - name: DB_NAME
      valueFrom:
        secretKeyRef:
          name: app-secrets
          key: DB_NAME
