apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: app-secrets
  namespace: default
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: aws-secrets-manager
    kind: ClusterSecretStore
  target:
    name: app-secrets
    creationPolicy: Owner
  data:
    - secretKey: DB_USER
      remoteRef:
        key: hipaa-devsecops-dev-app
        property: DB_USER
    - secretKey: DB_NAME
      remoteRef:
        key: hipaa-devsecops-dev-app
        property: DB_NAME
