name: Terraform CI

on:
  pull_request:
    paths:
      - "terraform/**"
  push:
    branches: ["main"]
    paths:
      - "terraform/**"

permissions:
  contents: read
  pull-requests: write

jobs:
  terraform:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        env:
          - terraform/envs/dev
          # - terraform/envs/stage
          # - terraform/envs/prod

    defaults:
      run:
        working-directory: ${{ matrix.env }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_wrapper: false

      - name: Terraform fmt (check)
        run: terraform fmt -check -recursive

      - name: Terraform init
        run: terraform init -input=false

      - name: Terraform validate
        run: terraform validate

      - name: Terraform plan (PR only)
        if: github.event_name == 'pull_request'
        run: terraform plan -input=false -no-color
        continue-on-error: true

      # IaC scanning (runs from repo root)
      - name: Tfsec scan
        uses: aquasecurity/tfsec-action@v1.0.3
        with:
          working_directory: terraform

      - name: Checkov scan
        uses: bridgecrewio/checkov-action@v12
        with:
          directory: terraform
          soft_fail: false
